@{
    var controller = (string)ViewContext.RouteData.Values["controller"];
    var area = (string)ViewContext.RouteData.Values["area"];
}

<nav class="navbar navbar-expand-lg" style="background-color: lightsteelblue">
    
    <div class="container-fluid justify-content-start">
        
        <div class="navbar-brand">Actions:</div>
        
        <a asp-area="@area" asp-action="Create" asp-controller="@controller" 
                id="createButton" class="navbar-btn btn btn-success mr-3">Create</a>
        
        <form method="post" asp-area="@area" asp-action="Edit" asp-controller="@controller"
              id="editButton">
            <button type="submit" class="navbar-btn btn btn-primary mr-3">Edit</button>
        </form>
        
        <form method="post" asp-area="@area" asp-action="Delete" asp-controller="@controller"
              id="deleteButton">
            <button type="submit" class="navbar-btn btn btn-danger mr-3">Delete</button>
        </form>

    </div>

</nav>