@model IPaginationViewModel

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    
    var controller = (string)ViewContext.RouteData.Values["controller"];
    var area = (string)ViewContext.RouteData.Values["area"];
}

<ul class="pagination">
    <li class="page-item @prevDisabled">
        <a asp-area = "@area" asp-controller="@controller" asp-action="List"
           asp-route-pageIndex="@(Model.PageIndex - 1)"
           class="page-link">
            Previous
        </a>
    </li>
    <li class="page-item @nextDisabled">
        <a asp-area = "@area" asp-controller="@controller" asp-action="List"
           asp-route-pageIndex="@(Model.PageIndex + 1)"
           class="page-link">
            Next
        </a>
    </li>
</ul>