@model Character

@{
    ViewBag.Title = Model.Name;
}


<div class="jumbotron" style="background-color: aliceblue">
    <h2>About <strong>@Model.Name</strong></h2>
    
    <hr/>
    <dl class="dl-horizontal">
        <dt>Owner</dt>
        <dd>@Model.Owner.UserName</dd>

        <dt>Gender</dt>
        <dd>@Model.Gender</dd>

        <dt>Last time online</dt>
        <dd>@Model.LastTimeOnline</dd>

        <dt>Inventory</dt>
        @foreach (var item in ViewBag.Inventory)
        {
            <dd>@item.Name</dd>
        }

    </dl>
</div>